@model UserViewModel
@{
    ViewBag.Title = SiteStrings.Signup_Complete_Title;
}
<div class="page-header">
    <h1>@SiteStrings.Signup_Complete_Title</h1>
</div>

<p>Thanks for signing up for Pipeline.</p>
<p>
    You should now be able to log in and start using the service.</p> <p>If you have any questions or feedback then please log here (link to https://localgovdigital.typeform.com/to/BUXokv)
    or email <a href="mailto:nicholas.teeman@hackney.gov.uk">nicholas.teeman@hackney.gov.uk</a>
</p>
