@model UserViewModel
@{
	ViewBag.Title = SiteStrings.Signup_Complete_Title;
}
<div class="page-header">
    <h1>@SiteStrings.Signup_Complete_Title</h1>
</div>

<p>Thanks for signing up for Pipeline.</p>
<p>You should now be able to <a href="@Url.Action("Login")> in with your username and password</a>.</p>
<p>To start adding details of your projects, select Add a project.</p>