@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

<section id="home__intro">
    <div class="row">
        <div class="small-12 medium-8 column home-intro">
            <h1>Welcome to Pipeline</h1>
            <div class="formatted-intro">Pipeline is a service from <a href="https://localgov.digital/">LocalGov Digital</a> to aid innovation and collaboration in local government digital.</div>
        </div>
        <div class="small-12 medium-4 column popular-links">
            @Html.Action("Activity", "Home", new { View = "Summary" })
        </div>
    </div>
</section>

@section Activity
{
    @* This is rendered by an action (and not a partial/extension method) for future donut caching *@
    @Html.Action("Activity", "Home")
}


