@model IEnumerable<ActivityViewModel>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-sm-6">

        <div style="text-align: center;">
            <div class="lrg-number"> <a href="#">@(ActivityViewModel.OrganisationCount())</a></div>
            Organisations
        </div>
    </div>

    <div class="col-sm-6">
        <div style="text-align: center;">
            <div class="lrg-number">  <a href="/home/search">@(ActivityViewModel.PageCount())</a></div>
            Projects
        </div>
    </div>
</div>


