@{
    if (ApplicationSettings.Installed)
    {
        Layout = SiteSettings.ThemePath + "/Theme.cshtml";
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>403 You do not have permission to access this page</title>
</head>
<body>
<h2>
    403 You do not have permission to access this page
</h2>

<p>
    You do not have permission to access this page, Only Administrators and Contributors can access this.
</p>
</body>
</html>