@model IEnumerable<RelViewModel>
<hr/>
@if (Model.Count() > 0)
{
    <h2>People</h2>

    <h4>Watchers</h4>
    <ul class="list-group">
        @foreach (RelViewModel pageModel in Model)
        {

            if (pageModel.relTypeID == 3)
            {
                <li class="list-group-item-inline">

                    @if (string.IsNullOrEmpty(pageModel.usertext.Replace(" ", "")))
                    {
                    <a href="/user/userprofile?email=@pageModel.userEmail">@pageModel.userName</a>
                    }
                    else
                    {
                    <a href="/user/userprofile?email=@pageModel.userEmail">@pageModel.usertext</a>

                    }
                </li>

            }

        }
    </ul>
    <h4>Contributors</h4>


    <ul class="list-group">
        @foreach (RelViewModel pageModel in Model)
        {

            if (pageModel.relTypeID == 4)
            {
                <li class="list-group-item-inline">

                    @if (string.IsNullOrEmpty(pageModel.usertext.Replace(" ", "")))
                    {
                    <a href="/user/userprofile?email=@pageModel.userEmail">@pageModel.userName</a>
                    }
                    else
                    {
                    <a href="/user/userprofile?email=@pageModel.userEmail">@pageModel.usertext</a>

                    }
                </li>

            }

        }
    </ul>
}


