@import url(//fonts.googleapis.com/css?family=Noticia+Text);

/* Make the page have 100% height */
html, body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #6b7770;
    line-height: 2em;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    padding: 5px 0px 5px 0px;
}
.alpha-block
{
      font-family: Arial,sans-serif;
      color:#000000;
      font-size: 16px;

}
.alpha-header{

    background-color:#d53880;
    padding:2px;
    color:#FFFFFF;
    display: inline-block;
    letter-spacing: 1px;
    padding: 2px 8px 2px 8px;  
    font-size: 19px;
    font-weight: 700;
    line-height: 1.31579;
    text-transform: uppercase;
    margin-right:10px;
}
#relationships,#pipelineinfo,#homesearch,#homeintro {
    
    padding-top:20px;
    padding-bottom:20px;
    background-color:#EEEEEE;
}
#homeintro
{

    margin-bottom:30px;
}
/* The basic 3 row layout*/
#header-wrapper {
    min-height: 7%;
    padding: 0px;
    margin: 0px;
    font-size: large;
}

#content-wrapper {
    min-height: 83%;
    padding: 0px;
    padding-bottom:20px;
    margin: 0px;
    font-size:large;
    background-image:url(../../Assets/Images/pipeline.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

#footer-wrapper {
    min-height: 10%;
    padding: 0px;
    margin: 0px;
    padding-left:30px;
}
#lgd-wrapper{
    padding-left:30px;
    padding-top:20px;
}
#homesearchbox,#homeintrobox
{

    padding-left:30px;
}
/* Page and pen toolbar */
#toolbar {

    top: 100px;
    right: 40px;
    z-index: 99;
    float:right;
    position:relative;
}

#pagecontent
{
    margin-top:20px;

}
.lgdfooter
{
    margin:20px 0 20px 0;
}
.facetedsearchoption
{

    margin-bottom:20px;
}
.searchresult-summary
{
    margin-top:10px;
    margin-bottom:10px;

}
/* Relationships */

.relationship
{
    margin-left:20px;
    margin-bottom:10px;
}
.relationship-text, .relationship-icon
{
    color:#5cb85c;
}
.relationship-icon
{
    margin-right:10px;
    font-size:larger;
    float:left;

}
#activityheader
{

    margin: 0 0 20px 20px;
}
.activitytime{

    width:50px;
    display:block;
    float:left;

}
#pipelineinfo
{
    margin-top:30px;
    margin-bottom:30px;
    padding-left:20px;
    text-align:center;

}
.activitycounter
{
         padding-top:20px;

}
.activitycount
{
    font-size:80px;
    font-weight:bold;

}
#whatshot{

    text-align:left;
}
#whatshottitle
{
    margin-top:0;
    padding-top:0;
}

/* Responsive header */
@media screen and (min-width:720px) {
    /* Show the bar at the top for larger screens*/
    #bootstrap-nav-menu {
        float: left;
    }

    #search {
        float: left;
        margin-top: 10px;
        padding-left: 150px;
    }
}

@media screen and (max-width:720px) {
    #search-mobile {
        margin: 15px;
        padding-left: 10px;
    }

    #toolbar {
        display: none;
    }
}

#header-wrapper {
    background-color: #F8F8F8;
    border-bottom: 1px solid #DDD;
}
    /* redefine the bootstrap nav bar*/
    #header-wrapper .navbar {
        border: 0px;
        margin-bottom: 0px !important;
        min-height: 100%;
    }

/* Login bar*/
#login-status {
    text-align: right;
    padding: 2px;
}

#loggedinas {
    display: block;
}

/* The main page container*/
#container {
    padding: 20px !important;
    font-size: 1em;
}

/* Change the default footer */
#footer-wrapper {
    background-color: #F8F8F8;
}

#footer-inner {
    padding: 0px 20px;
    border-top: 1px solid #F8F8F8;
    min-height: 100%;
}

#viewhistory {
    display: inline;
}

/* Settings page */
#configuration-container legend {
    font-size: 1.2em !important;
}

#configuration-container select {
    font-size: 0.9em !important;
    font-weight: normal;
}

#configuration-container input {
    font-size: 0.9em !important;
    font-weight: normal;
}
