<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@localgovdigital.info">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\pickup" />
        <network defaultCredentials="false" host="smtp.sendgrid.net" password="ezXg--eEZF-o161VcHs2jg" userName="LocalGovDigitalPipeline" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Wiki/NotFound" />
      <error statusCode="500" redirect="~/Wiki/ServerError" />
    </customErrors>
  </system.web>
  <connectionStrings xdt:Transform="Replace">
    <add name="Roadkill" connectionString="Data Source=|DataDirectory|\roadkill-live.sqlite;" />
  </connectionStrings>
</configuration>